footer(class="footer")
    div(class="container")
        p(class="text-muted")
            a(href="https://github.com/yangl1996/schedule-parser", target="_blank") PKU Schedule Parser
            |  by 
            a(href="http://www.yangl1996.com", target="_blank") yangl1996
