doctype html
html(lang="en")
    head
        meta(charset="utf=8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
        link(href="css/bootstrap.min.css", rel="stylesheet")
        block custom-ref

    body
        block content
        script(src="http://ajax.useso.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="js/bootstrap.min.js")
