extends ./includes/layout.pug

block title
  title PKU Schedule Parser

block custom-css
  link(href="custom-css/signin.css", rel="stylesheet")

block content
  div(class="container")

  form(class="form-signin")
    h2(class="form-signin-heading") Please sign in
    input(type="email", id="inputEmail", class="form-control", placeholder="Email address", required, autofocus)
    input(type="password", id="inputPassword", class="form-control", placeholder="Password", required)
    button(class="btn btn-lg btn-primary btn-block", type="submit") Sign in
