extends ./includes/layout.pug

block title
    title PKU Schedule Parser

block content
    div(class="jumbotron")
        div(class="container")
            h1 PKU Schedule Parser
            p Retrieves your class schedule from dean website and parses it into an .ics calendar archive file.
    include ./includes/footer.pug
